:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.btn {
  font-size: 80%;

  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.card-signin {
  border: 0;

  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}


.table {
  width: 100%;
}

.id {
  width: 25%;
}

.username {
  width: 37.5%
}

.email {
  width: 37.5%;
}

.non-active {
  color: darkgrey;
}

.current-page {
  background-color: rgb(230, 230, 230);
  text-underline: black;
}
